spring:
  application:
    name: techchallange-customer
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://localhost:27017/tc-customer}
      database: ${MONGODB_DATABASE:tc-customer}

server:
  port: 8080
  servlet:
    context-path: /

logging:
  level:
    root: INFO
    '[br.com.postech.techchallange_customer]': DEBUG
    '[org.springframework.data.mongodb]': DEBUG

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true